<!--cellspacing, padding,width,align , bgcolor  -->
<html>
    
    <head>
        <title >table Example</title>
       <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

      <style>
            #camera {
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
                margin-bottom:10px;
            }
  
            #camera td, #camera th {
                border: 1px solid #ddd;
                padding: 8px;
                
            }
            table.camera th:nth-child(5) td{
                 padding: 10px;
                 color:  green ;
                 background-color: greenyellow
                }
           
            
            #camera th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
               
                color: black;
            }
              
           

              .pagination {
                margin-top: 10px;
                
                
                display: inline-block;
                }

                .pagination a {
                color: black;
                float: left;
                padding: 0 16px;
                text-decoration: none;
                }

                .pagination a.active {
                background-color: #4CAF50;
                color: white;
                border-radius: 5px;
                }

                .pagination a:hover:not(.active) {
                background-color: #ddd;
                border-radius: 5px;
                }
                
                 

          </style>
        </head>
        <h4>User List</h4>
        <body>
        <div>    
         <table id ="camera">
            <tr>
                <th cellspacing="2px" align ="center" >Camrea Id</th>
                <th>Officer Name</th>
                <th>Address</th>
                <th>Attendance</th>
                <th>Status</th>
                <th>Action</th>
            </tr> 
            <tr>
                    <td>LPR-1478645LO</td>
                    <td>John Doe</td>
                    <td>175,5th main road, VInayaka Layout Yelahanka New... </td>
                    <td>71%</td>
                    <td>xyz</td>
                    <td>
                         <button class="btn btn-primary btn-xs" ng-click="r.changeView('requests/edit/' + request.id)" style="background-color: #008CBA;">
                            <i class="fa fa-pencil-square-o"></i>View More
                          </button>
                        <button class="btn btn-primary btn-xs" ng-click="r.changeView('requests/edit/' + request.id)" style="background-color: #f44336;">
                          <i class="fa fa-step-backward"></i>
                            <i class="fa fa-step-forward"></i>Watch Live
                        </button>
                        <select item-height="2px">
                                <option value="volvo">More</option>
                                <option value="saab">one</option>
                                <option value="opel">two</option>
                                <option value="audi">three</option>
                            </select>
                    </td>
                    
                    
                </tr> 
            <tr>
                    <td>LPR-1478645LO</td>
                    <td>John Doe</td>
                    <td>175,5th main road, VInayaka Layout Yelahanka New... </td>
                    <td>71%</td>
                    <td>src</td>
                    <td>
                            <button class="btn btn-primary btn-xs" ng-click="r.changeView('requests/edit/' + request.id)" style="background-color: #008CBA;">
                               <i class="fa fa-pencil-square-o"></i>View More
                             </button>
                           <button class="btn btn-primary btn-xs" ng-click="r.changeView('requests/edit/' + request.id)" style="background-color: #f44336;">
                             <i class="fa fa-step-backward"></i>
                               <i class="fa fa-step-forward"></i>Watch Live
                           </button>
                           <select item-height="2px" >
                                   <option value="volvo">More</option>
                                   <option value="saab">one</option>
                                   <option value="opel">two</option>
                                   <option value="audi">three</option>
                               </select>
                       </td>
                </tr> 
            <tr>
                    <td>LPR-1478645LO</td>
                    <td>John Doe</td>
                    <td>175,5th main road, VInayaka Layout Yelahanka New... </td>
                    <td>71%</td>
                    <td>src</td>
                    <td>
                            <button class="btn btn-primary btn-xs" ng-click="r.changeView('requests/edit/' + request.id)" style="background-color: #008CBA;">
                               <i class="fa fa-pencil-square-o"></i>View More
                             </button>
                           <button class="btn btn-primary btn-xs" ng-click="r.changeView('requests/edit/' + request.id)" style="background-color: #f44336;">
                             <i class="fa fa-step-backward"></i>
                               <i class="fa fa-step-forward"></i>Watch Live
                           </button>
                           <select item-height="2px" >
                                   <option value="volvo">More</option>
                                   <option value="saab">one</option>
                                   <option value="opel">two</option>
                                   <option value="audi">three</option>
                               </select>
                       </td>
                </tr> 
            <tr>
                     <td>LPR-1478645LO</td>
                     <td>John Doe</td>
                     <td>175,5th main road, VInayaka Layout Yelahanka New... </td>
                     <td>71%</td>
                     <td>src</td>
                     <td>
                            <button class="btn btn-primary btn-xs" ng-click="r.changeView('requests/edit/' + request.id)" style="background-color: #008CBA;" >
                               <i class="fa fa-pencil-square-o"></i>View More
                             </button>
                           <button class="btn btn-primary btn-xs" ng-click="r.changeView('requests/edit/' + request.id)" style="background-color: #f44336;">
                             <i class="fa fa-step-backward"></i>
                               <i class="fa fa-step-forward"></i>Watch Live
                           </button>
                           <select item-height="2px" >
                                   <option value="volvo">More</option>
                                   <option value="saab">one</option>
                                   <option value="opel">two</option>
                                   <option value="audi">three</option>
                               </select>
                       </td>
                </tr> 
            <tr>
                    <td>LPR-1478645LO</td>
                    <td>John Doe</td>
                    <td>175,5th main road, VInayaka Layout Yelahanka New... </td>
                    <td>71%</td>
                    <td>src</td>
                    <td>
                            <button class="btn btn-primary btn-xs" ng-click="r.changeView('requests/edit/' + request.id)" style="background-color: #008CBA; " >
                               <i class="fa fa-pencil-square-o"></i>View More
                             </button>
                           <button class="btn btn-primary btn-xs" ng-click="r.changeView('requests/edit/' + request.id)" style="background-color: #f44336;">
                             <i class="fa fa-step-backward"></i>
                               <i class="fa fa-step-forward"></i>Watch Live
                           </button>
                           <select item-height="2px" style="boreder-radius:2px" >
                                   <option value="volvo">More</option>
                                   <option value="saab">one</option>
                                   <option value="opel">two</option>
                                   <option value="audi">three</option>
                               </select>
                       </td>
                </tr>
            <tr>
                    <td>LPR-1478645LO</td>
                    <td>John Doe</td>
                    <td>175,5th main road, VInayaka Layout Yelahanka New... </td>
                    <td>71%</td>
                    <td>src</td>
                    <td>
                            <button class="btn btn-primary btn-xs" ng-click="r.changeView('requests/edit/' + request.id)" style="background-color: #008CBA;" >
                               <i class="fa fa-pencil-square-o"></i>View More
                             </button>
                           <button class="btn btn-primary btn-xs" ng-click="r.changeView('requests/edit/' + request.id)" style="background-color: #f44336;">
                             <i class="fa fa-step-backward"></i>
                               <i class="fa fa-step-forward"></i>Watch Live
                           </button>
                           <select item-height="2px" >
                                   <option value="volvo">More</option>
                                   <option value="saab">one</option>
                                   <option value="opel">two</option>
                                   <option value="audi">three</option>
                               </select>
                       </td>
                </tr> 
            <tr>
                    <td>LPR-1478645LO</td>
                    <td>John Doe</td>
                    <td>175,5th main road, VInayaka Layout Yelahanka New... </td>
                    <td>71%</td>
                    <td cellspacing="2px">src</td>
                    <td>
                            <button class="btn btn-primary btn-xs" ng-click="r.changeView('requests/edit/' + request.id)" style="background-color: #008CBA;">
                               <i class="fa fa-pencil-square-o"></i>View More
                             </button>
                           <button class="btn btn-primary btn-xs" ng-click="r.changeView('requests/edit/' + request.id)" style="background-color: #f44336;" >
                             <i class="fa fa-step-backward"></i>
                               <i class="fa fa-step-forward"></i>Watch Live
                           </button>
                           <select item-height="2px" >
                                   <option value="volvo">More</option>
                                   <option value="saab">one</option>
                                   <option value="opel">two</option>
                                   <option value="audi">three</option>
                               </select>
                       </td>
                </tr> 
     
     
         </table>
           
             
             
         <div class="pagination">
           
           <a href="#">&laquo;</a>
           <a href="#">1</a>
           <a href="#">2</a>
           <a href="#">3</a>
           <a href="#">4</a>
           <a href="#">5</a>
           <a href="#">6</a>
           <a href="#">&raquo;</a>
           </div>
            <div class="column">
                <button type="button" class="btn btn-secondary btn-sm" style=" float:right; margin-right: 10px">Next &raquo;</button>
            <button type="button" class="btn btn-secondary btn-sm" style="float:right; margin-right: 10px">&laquo; Previous</button>
              
              </div>
            
       
         </div>
            
      <div>
        </body>
</html>